@import "../../scss/mixins";
@import "../../scss/variables";

.todo {
  position: relative;
  @include page-bg(green, #ff5555);

  &__newTask-btn {
    display: block;
    @include quiz-btn;
    margin: 0 auto 10px;
  }
}