@import '../../scss/mixins';
@import "../../scss/variables";

.popup {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: rgba(0,0,0,0.5);
  z-index: 100;

  &__field {
    width: 300px;
    height: 350px;
    margin: 50px auto;
    background: grey;
    text-align: center;
    padding: 20px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    border-radius: 10px;
  }

  &__title {
    margin-top: 20px;
    color: $white;
    text-shadow: 0 0 1px black;
    padding-bottom: 20px;
  }

  &__input, &__description {
    margin-bottom: 25px;
    width: 100%;
    padding: 5px;
    font-family: 'Century Gothic', sans-serif;
    border-radius: 3px;
  }

  &__btn {
    @include quiz-btn;
    width: 100px;
  }
}